@{
    ViewData["Title"] = "Nosotros";
}
<link rel="stylesheet" href="~/css/nosotros.css" />
<h1>@ViewData["Title"]</h1>

<p>Proyecto de cátedra de Bases de Datos II.</p>
<h3>3er año Tecnicatura Superior en Desarrollo de Software</h3>
<img src="~/imgs/logo.png" />
